<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rick Warling</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="assets/imgs/logo.svg" alt="logo" />
      </div>
      <div class="name">
        <span class="inner_name">RICK WARLING</span>
      </div>
      <div class="subname">
        <span class="inner_subname">FRONT-END NINJA</span>
      </div>
      <hr/>
    </nav>
    <article>
      <div class="main_picture">
        <img src="assets/imgs/coding.jpg" alt="coding" />
      </div>
      <div class="heading1">
        <h1>Featured work</h1>
      </div>
        <p class="p1">
          Following pictures show my present and future work
        </p>
        <div class="featured_work">
          <div class="work">
            <a class="links_without_textdecoration" href="http://animal-trading-card.appspot.com/" >
              <img src="assets/imgs/animal_trading.png" alt="animal_trading" />
              <div class="description_of_work">
                Animal Trading Card
              </div>
            </a>
          </div>
          <div class="work">
            <a class="links_without_textdecoration" href="#" >
              <img src="assets/imgs/coding_1.png" alt="coming_soon" />
              <div class="description_of_work">
                Coming soon
              </div>
            </a>
          </div>
          <div class="work">
            <a class="links_without_textdecoration" href="#" >
              <img src="assets/imgs/coding_3.png" alt="coming_soon" />
              <div class="description_of_work">
                Coming soon
              </div>
            </a>
          </div>
        </div>
      </article>
  </body>
</html>
